@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
}

/* navbar section start*/

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: rgb(0, 0, 0);
  color: white;
}
.navbar a {
  color: white;
  text-decoration: none;
}
.navbar li {
  list-style: none;
}
.navbar ul {
  display: flex;
  list-style: none;
}
.navbar ul li {
  margin: 0 15px;
}
.navbar ul li a {
  text-decoration: none;
  color: white;
}

/* navbar section end */

/* banner section   start */

.banner {
  background-image: linear-gradient(0deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/Banner\ Image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  color: white;
  text-align: center;
}

.banner h5 {
  padding-top: 200px;
}

.banner h1 {
  padding-top: 20px;
  font-size: 50px;
  line-height: 70px;
}

/* banner section end */

/* fast-part section */

.fast-part {
  margin-top: 120px;
  display: flex;
  display: block;
  text-align: center;
  gap: 30px;
}

.fast-part img {
  width: 600px;
  height: 400px;
  margin-top: 50px;
}

.fast-part h1 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 40px;
}

.fast-part > small {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.fast-part h2 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 20px;
}

/* fast-part section end */

/* party section */

.party-container {
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/Vectorrr.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 1300px;
  margin: 120px auto;
}

.party {

  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.party-text h1 {
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
}

.party-text small {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  opacity: 0.8;
}

.party-text button {
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  margin-top: 20px;
}
.party-img img {
  width: 219.83px;
  height: 364.662px;
}

/* party section end */

/* thard section */

.thard-part {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  height: 382px;
  width: 1300px;
  margin: 120px auto;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  text-align: center;
  background-position: center;
  background-size: cover;
  background-clip: border-box;
}

.thard-part span {
  color: #f00;
}

.thard-part h1 {
  padding-top: 10%;
  line-height: 54px;
}

.thard-part button {
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  margin-top: 20px;
}

/* thard section */

/* froth section */

.froth-container {
  width: 1300px;
  border: 2px solid tomato;
  margin: auto;
  align-items: center;
  padding: 40px;
  background-position: center;
  background-size: cover;
}

.froth-info {
  flex: 1;
}
.froth-info span {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
}
.froth-info h1 {
  color: #070211;
  font-size: 48px;
  margin-top: 16px;
  font-weight: 900;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.froth-info small {
  font-size: 18px;
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.froth-part {
  display: flex;
  align-items: center;
  margin: auto;
  gap: 50px;
  /* justify-content: space-around; */
}

.froth-img-container {
  border: 10px solid red;
  padding: 30px;
  border-radius: 100%;
  flex: 1;
}
.froth-img {
  background-image: url("../images/Ellipse\ 1.png");
  width: 364px;
  height: 364px;
  /* border: 2px solid red; */
}
.froth-text {
  flex: 1;
}
.froth-text-img {
  background-image: url("../images/Group\ 96.png");
  height: 200px;
  width: 200px;
  background-repeat: no-repeat;
}
.froth-text h1 {
  color: #f00;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
}
